
<h1> Registrar Encuesta </h1>

<p>
    <form method="post" action="/encuestas" >      
    	<div class="formulario">
		<div>
			Nombre:&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input type="text" name="nombre" value="" />
		</div>


		<div>
			Participantes:&nbsp
			<input type="text" name="participantes" placeholder="" />
		</div>

		<div>
			Puntuaciones:
			<input type="text" name="puntuaciones" placeholder="" />
		</div>
		</div>
		<div class="box">
		<div>
			<input type="submit" value="Guardar" class = "boton" id="RegistraApp">
		</div>

		<div>
			<a href="/"><button type="button" class = "boton" id="RegistraApp">Cancelar</button></a>
		</div>
		</div>

    </form>
</p>
