<div class="box">

<h1>
No está registrado, pida su token y registrese en la app de Gestión de identidad
</h1>


</div>
<p>
    <form method="post" action="/token" >      
    	<div class="formulario">
		
		<div>
			Nombre:
			<input type="text" name="nombre" value="" />
		</div>

		

		<div>
			Rol: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input type="text" name="rol"/>
		</div>
		</div>

		
		<div class="box">
		<div>
			<input type="submit" value="Guardar" class = "boton" id="RegistraApp">
		</div>

		<div>
			<a href="/"><button type="button" class = "boton" id="RegistraApp">Cancelar</button></a>
		</div>
		</div>

    </form>
</p>
