
<h1> Registrar App </h1>

<p>
    <form method="post" action="/apps" >      
    	<div class="formulario">
		<div class = "form">
			Nombre:
			<input type="text" name="nombre" value="" required />
		</div>

		<div class = "form">
			Address:
			<input type="text" name="address" placeholder="0x258" required/>
		</div>

		<div class = "form">
			Roles: &nbsp&nbsp&nbsp
			<input type="text" name="roles" placeholder="" required/>
		</div>
		</div>
		<div class="box">
		
		<div>

			<input type="submit" value="Guardar" class = "boton" id="RegistraApp">
		</div>

		<div>
			<a href="/"><button type="button" class = "boton" id="RegistraApp">Cancelar</button></a>
		</div>
		</div>

    </form>
</p>
