
<h1> Registrar User </h1>

<p>
    <form method="post" action="/users" >      
    	<div class="formulario">
		<div class = "form1">
			Nombre: &nbsp&nbsp&nbsp
			<input type="text" name="nombre" value="" required/>
		</div>

		<div class = "form1">
			Aplicacion:
			<input type="text" name="aplicacion"  required />
		</div>

		<div class = "form1">
			Rol: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input type="text" name="rol"  required/>
		</div>

		<div class = "form1">
			Token: &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
			<input type="text" name="token" required />
		</div>
		</div>
		<div class="box">
		<div>
			<input type="submit" value="Guardar"class = "boton" id="RegistraApp">
		</div>

		<div>
			<a href="/"><button type="button"class = "boton" id="RegistraApp">Cancelar</button></a>
		</div>
		</div>

    </form>
</p>
