<div class="box">
<h2> ¿Dónde se quiere registrar?</h2>
 <a href="/apps"><button type="button" class="boton">Aplicación</button></a> 
<a href="/users"><button type="button" class="boton">Usuarios</button></a> 
</div>